<nav>
  <div class="brand">
    {{#link-to 'rants'}}Rantly{{/link-to}}
  </div>
  {{#link-to 'rants'}}Rants{{/link-to}}
  {{#link-to 'users'}}Users{{/link-to}}
</nav>

{{input value=query placeholder="Search"}}

{{outlet}}
